.App {
    height: 100%;
    width: 100%;
}

.logo-container {
    text-align: center;
}

.logo {
    height: 50px;
    width: 50px;
}

.Block {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.QuantityButton {
    margin: 10px;
    width: 37px;
    height: 37px;
    text-align: center;
    color: white;
    background-color: #1e2c3c;
    border: none;
}

.Block span {
    font-size: x-large;
    font-weight: bold;
}

.DefaultButton {
    width: 140px;
    display: inline;
    background-color: #1e2c3c;
    border: none;
}

.InputsBlock input {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: #34495d;
    color: grey;
    border: none;
}

.SplitPane {
    height: 100%;
    width: 100%;
}

.SplitPane-left {
    float: left;
    height: 100%;
    width: 50%;
}

.SplitPane-right {
    float: left;
    height: 100%;
    width: 50%;
}

.btn-primary:disabled {
    background-color: darkslategrey;
    cursor: not-allowed;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #40648a;
}

.ProductEntry {
    background-color: #34495d;
    margin-top: 2px;
    display: block;
}

.ActionsIcon {
    float: right;
    cursor: pointer;
    background-color: #1e2c3c;
    color: white;
    border: transparent 1px;
    padding: 8px;
    line-height: 5px;
    vertical-align: center;
}

.IconMenu {
    background-color: #34495d;
    padding: 10px;
    width: 70%;
    margin: 15px auto;
}

.IconMenuEntry {
    display: inline-flex;
    margin: 0 auto;
    float: none;
    background-color: transparent;
    color: white;
    border: none;
}

.IconEntry {
    display: block;
    float: none;
    margin: 0 auto 10px;
    background-color: transparent;
    color: white;
    border: none;
}

.IconMenuEntry:hover{
    color: #53565d;
}

.Icon {
    margin-top: 11px;
    margin-left: 10px;
    float: left;
}

button:focus {
    outline: none;
}

.ProductEntry:hover{
    background-color: #161f2c;
}

.ActionsIcon:hover{
    background-color: #40648a;
}
